@import '../../../helpers/styles/mixins.scss';
@import '../../../helpers/styles/variables.scss';

.transparentButton {
  width: 100%;
  max-width: 100px;
  height: 30px;
  padding: 4px;
  font-size: 10px;
  border: 1px solid #fff;
  border-radius: 8px;
  color: #fff;
  font-weight: 500;


  @include tablet() {
    font-size: 12px;
    height: 40px;
    max-width: 130px;
    padding: 6px;
  }

  @include desktop() {
    font-size: 14px;
    height: 43px;
    max-width: 160px;
    padding: 8px;
  }
}