@import '../../helpers/helpers.scss';

.profilePage {
  display: block;
  padding: 10px;
  background: linear-gradient(#7b69ed, #fcffd7);
  min-height: calc(100vh - 50px);

  display: flex;
  align-items: center;

  @include tablet() {
    padding: 30px;
  }

  @include desktop() {
    padding: 40px;
  }
}
