@import '../../../helpers/styles/mixins.scss';
@import '../../../helpers/styles/variables.scss';

.projectMembers {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
  font-size: 10px;

  @include tablet() {
    font-size: 12px;
  }

  @include desktop() {
    font-size: 14px;
  }
  
  &__icon {
    width: 16px;
     height: 16px;
    background-image: url('../../../svg/users.png');
  }
}
