@import '../../helpers/helpers.scss';

.back {
  display: flex;
  align-items: center;
  gap: 5px;

  &__arrow {
    width: 8px;
    height: 8px;
    background-image: url('../../svg/arrow-left.svg');
    background-repeat: no-repeat;
    background-size: contain;

    @include tablet() {
      width: 10px;
      height: 10px;
    }

    @include desktop() {
      width: 12px;
      height: 12px;
    }
  }

  &__title {
    font-size: 10px;

    @include tablet() {
      font-size: 12px;
    }

    @include desktop() {
      font-size: 14px;
    }
  }
}