@import '../../helpers/styles/mixins.scss';
@import '../../helpers/styles/variables.scss';

.header {
  width: 100%;
  min-width: calc(75vw - 64px);
  height: fit-content;
  max-height: 64px;
  padding: 10px 8px;
  background-color: #fff;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet() {
    padding: 15px 12px;
    border-radius: 10px;
  }

  @include desktop() {
    padding: 20px 16px;
  }
}

.heading {
  width: 100%;
  font-weight: 400;
  font-size: 7px;

  display: flex;

  @include tablet() {
    font-size: 12px;
  }

  @include desktop() {
    font-size: 14px;
  }
}

.accented_text {
  display: inline;
  font-weight: 600;
  font-size: 7px;

  color: $color-purple;

  @include tablet() {
    font-size: 12px;
  }

  @include desktop() {
    font-size: 14px;
  }
}

.list__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;

  @include tablet() {
    gap: 4px;
  }

  @include desktop() {
    gap: 8px;
  }
}

.list__item {
  display: flex;
  align-items: center;
}

.radio {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 100%;

  padding: 3px 7px;
  margin: 0;

  text-align: center;
  color: $color-grey--dark;
  border: 2px solid $color-grey--lite;
  border-radius: 5px;
  background-color: #fff;
  transition: all ease-in-out 0.2s;

  @include tablet() {
    padding: 4px 8px;
    border-radius: 8px;
  }

  @include desktop() {
    padding: 4px 16px;
  }

  &::before {
    content: attr(data-content);

    font-weight: 400;
    font-size: 8px;

    @include tablet() {
      font-size: 12px;
    }
  
    @include desktop() {
      font-size: 14px;
    }
  }

  &:checked {
    background-color: #eee;
    color: $color-purple;

    &::before {  
      font-weight: 600;
    }
  }
}
