.card {
  width: 0.5fr;
  height: 233px;
  
  padding: 16px;

  background-color: #F6F6F6;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;

  &__container {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 10px;

  color: #495057;
  font-size: 14px;

  border: 1px solid #ADB5BD;
  border-radius: 50px;
}

.favorite {
  cursor: pointer;

  width: 23px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: contain;

  transition: transform ease-in-out 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.owner {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 8px;

  &__name {
    font-weight: 400;
    font-size: 16px;

    &::after {
      content: 'Owner';

      margin-left: 8px;

      color: #868E96;
      font-size: 14px;
    }
  }
}

.members {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;

  margin-bottom: 8px;

  font-size: 16px;

  &__icon {
    width: 16px;
    height: 16px;

    background-image: url('../../svg/users.svg');
  }
}

.description {
  padding-right: 8px;
  margin-bottom: 30px;

  text-align: start;
  font-weight: 400;
  font-size: 16px;
  color: #495057;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 156px;
  height: 32px;

  background-color: #343A40;

  font-weight: 400;
  font-size: 16px;
  color: #fff;

  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: #fff;
    color: #343A40;
  }
}

.date__container {
  display: flex;
  justify-content: center;
  align-items: center;
  // optional, makes date be as low as possible
  align-self:last baseline;
  gap: 4px;

  font-weight: 400;
  font-size: 14px;
}

.calendar__icon {
  width: 16px;
  height: 16px;

  background-image: url('../../svg/calendar.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}