.card {
  width: 0.5fr;
  // height: 233px;
  
  padding: 16px;

  background-color: #fff;
  border-radius: 10px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 12px;

  &__container {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.favorite {
  cursor: pointer;

  width: 23px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: contain;

  transition: transform ease-in-out 0.2s;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;

  // position: relative;
  // top: -10px;

}

.btn {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 156px;
  height: 32px;

  background-color: #343A40;

  font-weight: 400;
  font-size: 16px;
  color: #fff;

  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: #fff;
    color: #343A40;
  }
}

.button {
  width: 150px;
  // height: 20px;

  // position: relative;
  // top: -3px;

  // >* {
  //   margin: 0;
  //   height: 30px;
  //   font-size: 14px;
  //   font-weight: 600;
  // }

  // height: 30px;

  // position: relative;
  // top: -20px;


  >* {
    margin: 0;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
  }
}