.notFound  {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#7b69ed, #fcffd7); 

    height: calc(100vh - 50px);

    &__wrapper {
        width: 40%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
    }

  &__icon {
    background-image: url('../../svg/not-found--404.png');
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
}