@import '../../helpers/helpers.scss';

.containerC {
  background: linear-gradient(#7b69ed, #fcffd7);

  &__suit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    height: calc(100vh - 60px);
    margin: 0 auto;
  
    width: 80%;
  
    @include tablet() {
      width: 60%;
    }
    
    @include desktop() {
      width: 40%;
    }
  }

  &__wrapper {
    background-color: #fff;
    border-radius: 10px;
    // padding: 32px;
    // padding: 0 32px;
    padding: 32px 0;
    width: 100%;
    position: relative;
  }

  &__shell {
    width: 70%;
    margin: 0 auto;
    // text-align: center;
  }
}