@import '../../../helpers/helpers.scss';

.projectButton {
  height: 35px;
  width: 180px;

  background-color: $color-purple;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  border: 1px solid transparent;

  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: #fff;
    color: #343A40;
    border: 1px solid $color-grey--dark;
  }

  &:active {
    transform: scale(0.95);
  }

  &-disable {
    background-color: $color-purple;
  }
}