@import '../../../helpers/styles/mixins.scss';
@import '../../../helpers/styles/variables.scss';

.projectButton {
  height: 20px;
  width: 80px;
  font-size: 10px;
  background-color: $color-purple;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: all ease-in-out 0.2s;

  @include tablet() {
    height: 30px;
    width: 130px;
    border-radius: 10px;
    font-size: 12px;
  }

  @include desktop() {
    font-size: 14px;
    height: 35px;
    width: 180px;
  }

  &:hover {
    background-color: #fff;
    color: #343A40;
    border: 1px solid $color-grey--dark;
  }

  &:active {
    transform: scale(0.95);
  }

  &-disable {
    background-color: rgba($color: $color-purple, $alpha: .7);
  }
}