@import '../../helpers/helpers.scss';

.heading {
  font-weight: 500;
  font-size: 20px;
  font-weight: 600;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__ul {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  
  &__item {
    display: flex;
    align-items: center;
  }
}

.radio {
  cursor: pointer;
  position: relative;
  width: 32px;
  height: 32px;
  text-align: center;
  color: $color-grey--dark;
  font-size: 14px;
  border-radius: 5px;

  background-color: #eee;

  transition: all ease-in-out 0.2s;

  &::before {
    content: attr(data-content);
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &:checked {
    background-color: $color-purple;
    color: #ffffff;
  }
}