@import '../../helpers/helpers.scss';

.heading {
  font-weight: 600;
  font-size: 14px;

  @include tablet() {
    font-size: 16px;
  }

  @include desktop() {
    font-size: 18px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @include tablet() {
    gap: 12px;
  }

  @include desktop() {
    gap: 14px;
  }


  &__ul {
    display: flex;
    flex-direction: row;
    gap: 2px;

    @include tablet() {
      gap: 4px;
    }
  
    @include desktop() {
      gap: 6px;
    }
  }
  
  &__item {
    display: flex;
    align-items: center;
  }
}

.radio {
  cursor: pointer;
  position: relative;
  width: 24px;
  height: 24px;
  text-align: center;
  color: $color-grey--dark;
  font-size: 10px;
  border-radius: 5px;

  @include tablet() {
    width: 28px;
    height: 28px;
    font-size: 12px;
    border-radius: 5px;
  }

  @include desktop() {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }

  background-color: #eee;

  transition: all ease-in-out 0.2s;

  &::before {
    content: attr(data-content);
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &:checked {
    background-color: $color-purple;
    color: #ffffff;
  }
}