@import '../../helpers/helpers.scss';

.login {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;

  width: 100%;
  // max-width: 280px;

  @include tablet() {
    max-width: 300px;
  }

  @include desktop() {
    max-width: 400px;
  }
}

.header {
  margin-bottom: 16px;
  font-size: 24px;
}

.p {
  font-size: 14px;
  color: #495057;
  margin-top: 20px;
  text-align: center;

  @include tablet() {
    font-size: 16px;
  }

  @include desktop() {
    font-size: 18px;
  }

  >span {
    font-size: 14px;
    
    @include tablet() {
      font-size: 16px;
    }
  
    @include desktop() {
      font-size: 18px;
    }
  }
}

.link {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  color: #121212;
}