$color-green: #1EB248;
$color-orange: #EF8C00;
$color-grey--dark: #343A40;
$color-grey--lite: #F6F6F6;
$color-purple: #7563ED;

$grid-columns: 2;
$grid-rows: 4;
$grid-gap: 20px;

@mixin tablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}