.member {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.member > span {
  width: 200px;
}

.role {
  margin-right: 20px;
}

.kickButton {
  margin-left: auto;
  display: flex;
  width: 119px;
  padding: 8px;
  justify-content: center;

  border: 1px solid #343A40;
}
