@import '../../../helpers/helpers.scss';

.projectOwner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
    margin-bottom: 8px;
  
    &__name {
      font-weight: 400;
      font-size: 12px;

      @include tablet() {
        font-size: 14px;
      }

      @include desktop() {
        font-size: 16px;
      }
  
      &::after {
        content: 'Owner';
  
        margin-left: 8px;
  
        color: #868E96;
        font-size: 14px;
      }
    }
}
