@import '../../../helpers/styles/mixins.scss';
@import '../../../helpers/styles/variables.scss';

.projectDescription {
  min-height: 40px;
  padding-right: 8px;
  margin-top: 10px;
  height: max-content;

  text-align: start;
  font-weight: 400;
  font-size: 10px;
  color: #495057;

  @include tablet() {
    min-height: 40px;
    font-size: 12px;
  }

  @include desktop() {
    font-size: 14px;
  }
}
