@import '../../../helpers/helpers.scss';

.projectDescription {
    min-height: 20px;
    padding-right: 8px;
    margin-top: 10px;
  
    text-align: start;
    font-weight: 400;
    font-size: 10px;
    color: #495057;

    height: max-content;

    @include tablet() {
      min-height: 40px;
      font-size: 12px;
    }

    @include desktop() {
      font-size: 14px;
    }
  }