@import '../../helpers/helpers.scss';

.recovery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 60px);
    margin: 0 auto;

    width: 90%;

    @include tablet() {
      width: 70%;
    }
  
    @include desktop() {
      width: 50%;
    }

  &__wrapper {
    background-color: #F7F7F7;
    padding: 32px;
  }

  &__shell {
    width: 70%;
    margin: 0 auto;
  }

  &__title {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;

    @include desktop() {
      font-size: 32px;
    }
 
    &_sub {
      font-size: 12px;
      color: #495057;
      margin-bottom: 20px;

      @include desktop() {
        font-size: 16px;
      }
    }
  }
}