@import '../../helpers/styles/mixins.scss';
@import '../../helpers/styles/variables.scss';

.recovery {
  &__back {
    position: absolute;
    left: 10px;
    top: 15px;

    @include tablet() {
      left: 10px;
      top: 20px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;

    @include tablet() {
    font-size: 16px;
    }

    @include desktop() {
      font-size: 18px;
    }
 
    &_sub {
      font-size: 10px;
      color: #495057;
      margin-bottom: 20px;

      @include tablet() {
        font-size: 12px;
      }
    
      @include desktop() {
        font-size: 14px;
      }
    }
  }

  &__button {
    margin-top: 20px;
  }
}
