.modal {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: #00000072;

    overflow: hidden;
  
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column-reverse;
}