@import '../../../helpers/helpers.scss';

.messageItem {
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid $color-grey--lite;
    position: relative;

    &:hover {
      background-color: $color-grey--lite;
      text-decoration: underline;
    }

    &__button {
      font-size: 10px;
      color: $color-grey--dark;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @include tablet() {
        font-size: 12px;
      }

      @include desktop() {
        font-size: 14px;
      }
    }

    &__message {
      width: 100%;
      text-align: left;
    }

    &__date {
        // width: 100%;
        min-width: 80px;
        color: grey;
        text-decoration: none;
    }

    &__marker {
      background-color: rgba($color: $color-purple, $alpha: .05);

      &:hover {
        background-color: rgba($color: $color-purple, $alpha: .1);
      }
    }
}