.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100%;

  padding: 12px 64px;

  background-color: #000;
}

.logo {
  position: relative;

  height: 40px;
  width: 40px;

  border-radius: 10%;

  background-color: #ADB5BD;

  &::before {
    content: "L";

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.controls {
  display: flex;
  gap: 16px;
}

.create_button {
  width: 135px;
  height: 40px;

  color: #000;
  font-weight: 500;

  border-radius: 30px;

  background-color: #fff;
}

.shell {
  background-color: #fff;
  border-radius: 50%;
}