@import '../../helpers/styles/mixins.scss';
@import '../../helpers/styles/variables.scss';

.projectsField {
  &__list {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;

    @include tablet() {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 10px;

      align-items: center;
      justify-items: center;
    }
            
    @include desktop() {
      grid-gap: $grid-gap;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
  }
}
