@import '../../../helpers/helpers.scss';

.projectRequest {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  width: max-content;
  padding: 0 5px;
  border-radius: 2px;

  &:hover {
    background-color: $color-grey--lite;
    text-decoration: underline;
    color: $color-grey--dark;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 8px;

    @include tablet() {
      font-size: 10px;
    }
  
    @include desktop() {
      font-size: 12px;
    }
  }

  &__position {
    font-weight: 600;
    color: $color-purple;
  }
}
