@import '../../../../helpers/styles/mixins.scss';
@import '../../../../helpers/styles/variables.scss';

.editProjectButton {
  height: 25px;
  min-width: 50px;
  background-color: $color-purple;
  border-radius: 4px;
  color: #fff;
  font-size: 10px;
  border: 1px solid transparent;

  @include tablet() {
    font-size: 12px;
    height: 35px;
    width: 60px;
  }

  @include desktop() {
    font-size: 14px;
    height: 40px;
    width: 80px;
  }

  transition: all ease-in-out 0.2s;

  &:hover {
    background-color: #fff;
    color: #343A40;
    border: 1px solid $color-grey--dark;
  }

  &:active {
    transform: scale(0.95);
  }

  &-disable {
    background-color: rgba($color: $color-purple, $alpha: .7);
  }
}
