@import '../../../helpers/styles/mixins.scss';
@import '../../../helpers/styles/variables.scss';

.profileInputField {
  width: 100%;
  display: block;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
  background-color: #f6f6f6;

  position: relative;

  &__textArea {
    width: 100%;
    min-height: 70px;
    max-height: 150px;
    padding: 0;
    text-align: justify;
    font-size: 12px;
    color: $color-grey--dark;

    @include tablet() {
      font-size: 14px;
    }
  }

  &__length {
    font-size: 8px;
    position: absolute;
    bottom: 2px;
    right: 5px;
  }
}
